{% extends "base.html" %} {% block content %}
<!-- Banner-start -->
<div class="custom-container banner">
    <div class="row h-100">
        <div
            class="col-lg-6 d-flex flex-column justify-content-center align-items-start"
        >
            <h1>Let's Authenticate</h1>
            <h1>Using <span class="phone-number">PHONE NUMBER</span></h1>
            <h4>A Django authentication project:?</h4>
            <div class="button mt-2" onclick="window.location.reload();">
                Refresh
                <i class="fa-solid fa-arrow-rotate-right"></i>
            </div>
        </div>
        <div class="col-lg-6">
            <img
                src="../static/image.png"
                alt=""
                class="mt-5 h-100 w-100 object-fit-cover"
            />
        </div>
    </div>
</div>
<!-- Banner-end -->
{% endblock %}
